.destacado-h1{
    font-size: $font-size-x-large; 

    @include vista-sm{
        font-size: $font-size-xx-large; 
        text-align: center;
    }
}
.item{
    h5{
        font-size: $font-size-small;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        padding-top: 5px;
    }
    p{
        font-size: $font-size-x-small;
        font-weight: thin;
        font-family: 'Lato', sans-serif;
        padding-bottom: 20px;  
    }

    .img4{
        height: auto;
        max-height: 138px;

        @include vista-sm{
            height: auto;
            max-height: 500px;
        }
    }
}