.hero-section{
    height: 22vh;
    background-image: url('../img/image-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}