.info{
    border-bottom: solid 1px $silver;

    &-name{
        h2{
            font-size: large;
            font-weight: bold;
        }

        p{
            font-size: small;
            font-weight: thin;  
            color: $gray;
        }
    }

   

   
}