.info{
    border-bottom: solid 1px $silver;

    @include vista-sm{
        border-bottom: 0px;
        padding-left: 80px;
        padding-top: 10px;
    }

    &-name{
        h2{
            font-size: large;
            font-weight: bold;
        }

        p{
            font-size: small;
            font-weight: thin;  
            color: $gray;
        }

        @include vista-sm{
            h2{
                font-size: $font-size-xx-large;
                
            }
    
            p{
                font-size: $font-size-medium;
                padding-left: 5px;
               
            }
        }
    }

   

   
}